*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
metroAndroidKeystore.jks
report.xml
env-vars.sh
fastlane/metadata
api-project-service-account.json
fastlane/README.md
fastlane/build_number
fastlane/version_number
ci_*.sh
ci_*.rb
digitalcard.keystore
heimdall/build
UploadCompanionAppKeystore.jks
/apikey.properties
/scytale/build
/photoview/build
